<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="utf-8" />
	<title>Title</title>
	<link rel="stylesheet" type="text/css" href="/public/css/render.css" />
</head>
<body>
	<div class="doc-wrap">
	<!-- doc-wrap begin -->
		
		<div ng-controller="GreetController">
			
		</div>
		
		<!-- script begin -->
		<script src="/public/script/lib/angular/angular.js"></script>
		<script src="/public/script/controller/Controller.js"></script>
		<!-- script end -->

	<!-- doc-wrap end -->
	</div>	
</body>
</html>
